

.book
{
  cursor: pointer;
}

.sport hr
{
  margin-bottom: 10px;
}

.modal-content
{
  margin-top: 100px;
}

.img_modal
  {
    display: inline-block;
  }
.p_modal
  {
      margin-top: 10px;
}
.modal-body
{
    text-align: center
}
.book { cursor: pointer; } .sports hr { margin-bottom: 10px; } .modal-content { margin-top: 100px; } .img_modal { display: inline-block;transition: transform.2s; } .p_modal { margin-top: 10px; } 
.img_modal:hover{transform:scale(0.8)}


